<app-navbar></app-navbar>
<div class="container">
    <br>
    <br>
    <h1>Inicio | Panadol | Productos</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
            <div>
                <img src="../../../assets/img/a4.png" alt="img" class="img-fluid px-5 img-main mb-5">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"> <img src="../../../assets/img/a1.png" alt="img" class="img-fluid"></div>
                    <div class="col-md-4"> <img src="../../../assets/img/a2.png" alt="img" class="img-fluid"></div>
                    <div class="col-md-4"> <img src="../../../assets/img/a3.png" alt="img" class="img-fluid"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="fs-2">Panadol Antigripal NF Tableta</h1>
            <h1>Panadol</h1>
            <h1 class="fs-3">S/. 2.20</h1>
            <button mat-raised-button color="primary">Comprar en ahorro y salud</button>
            <br>
            <br>
            <br>
            <div class="card px-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tienda</th>
                            <th>Producto</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ahorro y salud</td>
                            <td>Panadol antigripal</td>
                            <td>S/. 2.20</td>
                        </tr>
                        <tr>
                            <td>Farmacia universal</td>
                            <td>Panadol antigripal</td>
                            <td>S/. 2.78</td>
                        </tr>
                        <tr>
                            <td>Inkafarma</td>
                            <td>Panadol antigripal</td>
                            <td>S/. 2.80</td>
                        </tr>
                        <tr>
                            <td>MiFarma</td>
                            <td>Panadol antigripal</td>
                            <td>S/. 14.20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <br>
        <br>
        <h1>Inicio | Panadol | Producto</h1>
        <br>
        <br>
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header">
                    <h1>Descripción</h1>
                </div>
                <div class="card-body fs-6">
                    Empieza a actuar en minutos, para un rápido y efectivo alivio de los síntomas de la gripe:
                    congestión nasal, dolor de cabeza, secreción nasal, dolor de garganta, dolores y molestias menores,
                    estornudos y fiebre.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>Especificaciones</h1>
                </div>
                <div class="card-body fs-6">
                    Cada tableta de Panadol Antigripal NF contiene:
                    <ul>
                        <li>Paracetamol 500 mg.</li>
                        <li>Clorhidrato de fenilefrina 5 mg.</li>
                        <li>Maleato de clorfenamina 2 mg.</li>
                        <li>Excipientes c.s.</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-6 mb-5">
            <h1 class="fs-2">Historial de precios</h1>
            <div class="card grafico p-2">
                <div id="chart_div" style="width: 800px; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>