<app-navbar></app-navbar>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="content">
            <div>
                <h1 class="fs-1 fw-bolder title">Compara y encuentra los mejores precios en miles de farmacias</h1>
            </div>
            <br>
            <br>
            <div class="d-flex">
                <input type="text" class="form-control">
                <button class="btn btn-lg bg-rosa text-white" routerLink="/busqueda">Buscar</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center px-5 border">
            <div>
                <img src="../../../assets/img/panadol.jpg" alt="panadol" class="img-fluid">
            </div>
            <h1>RESFRIADO</h1>
        </div>
        <div class="col-md-4 d-flex align-items-center px-5 border">
            <div>
                <img src="../../../assets/img/nexcare.jpg" alt="panadol" class="img-fluid h-250">
            </div>
            <h1>OIDOS</h1>
        </div>
        <div class="col-md-4 d-flex align-items-center px-5 border">
            <div class="">
                <img src="../../../assets/img/ansaplast.jpg" alt="panadol" class="img-fluid h-250">
            </div>
            <h1>RESFRIADO COMÚN</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="w-75 text-center">
            <h1 class="text-center fw-bolder mt-3">Sobre nosotros</h1>
            <div class="">
                <img src="../../../assets/img/image.png" alt="logo" class="logo p-3">
            </div>
            <br>
            <br>
            <h1 class="fw-bolder fs-2">Bienvenidos a MIDOCVIRTUAL</h1>
            <br>
            <p class="fs-6 mb-5">MiDoc Virtual ha sido elaborada con el propósito de mejorar la calidad y accesibilidad
                a la salud de las
                personas en la adquisición de productos medicinales. Por ello, nuestra empresa emergente se dedica a
                facilitar el acceso y adquisición de medicamentos mostrando precios y farmacias.</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container-fluid">
    <h1 class="text-center">Diferente precios: Un mismo producto</h1>
    <h1 class="text-center fs-1 fw-bolder">Tiendas principales</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="../../../assets/img/mifarma.png" alt="logo" class="logo p-3 img-fluid img-farma">
            <h1 class="mt-3 fw-bold">MiFarma</h1>
        </div>
        <div class="col-md-3 text-center">
            <img src="../../../assets/img/inca.png" alt="logo" class="logo p-3 img-fluid img-farma">
            <h1 class="mt-3 fw-bold">InkaFarma</h1>
        </div>
        <div class="col-md-3 text-center">
            <img src="../../../assets/img/universal.png" alt="logo" class="logo p-3 img-fluid img-farma">
            <h1 class="mt-3 fw-bold">Farmacia Universal</h1>
        </div>
        <div class="col-md-3 text-center">
            <img src="../../../assets/img/boticasperu.png" alt="logo" class="logo p-3 img-fluid img-farma">
            <h1 class="mt-3 fw-bold">Boticas Perú</h1>
        </div>
    </div>
</div>
<div class="my-4">
    <br>
</div>