<app-navbar></app-navbar>
<div class="vh-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5 py-5">
                <mat-card>
                    <h1 class="text-center fw-bolder">Recuperar contraseña</h1>
                    <form >
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="email" placeholder="Escriba su correo electrónico.."
                                #input>
                        </mat-form-field> <br>
                        <br>
                        <br>
                        <button mat-raised-button color="primary" class="w-100" routerLink="/validar">Ingresar</button>
                    </form>
                    <br>
                    <br>
                    <p class="text-center">Contacto: stalin@gmail.com</p>
                </mat-card>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
